{{ define "title" }}About{{ end }}
{{ define "main" }}
<div class="row">
    <div class="container-fluid col-lg-5 mt-5">
        <h1 class="display-5 fw-bold">Øyvind Kristiansen</h1>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3 py-3">
            {{ range .Socials }}
                <a href="{{ .Link }}" target="_blank" class="btn btn-outline-light">{{ .SocialPlatform }}</a>
            {{ end }}
        </div>
        {{ markdownToHTML .User.Content }}
    </div>
</div>
{{ end }}
