{{ define "title" }}About me{{ end }}
{{ define "main" }}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="display-1">Øyvind Kristiansen</h1>
        </div>
    </div>
</div>
{{ end }}
