{{ define "title" }}Home{{ end }}
{{ define "main" }}
  <div class="container py-4">
    {{ if index .BlogPosts 0 }}
    <div class="p-5 mb-4 bg-dark text-white">
      <div class="container-fluid py-5">
        {{ with index .BlogPosts 0 }}
        <h1 class="display-5 fw-bold">{{ .Title }}</h1>
        <p class="col-md-8 fs-4">{{ printf "%.250s" .Post }}...</p>
        <a class="btn btn-outline-light btn-lg" role="button" href="/post/read/?id={{ .ID }}">Read more</a>
        {{ end }}
      </div>
    </div>
    {{ end }}
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        {{ if index .BlogPosts 1 }}
        {{ with index .BlogPosts 1 }}
        <div class="h-100 p-5 bg-dark text-white border rounded-3">
          <h2>{{ .Title }}</h2>
          <p>{{ printf "%.250s" .Post }}...</p>
          <a class="btn btn-outline-light" role="button" href="/post/read/?id={{ .ID }}">Read more</a>
        </div>
        {{ end }}
        {{ end }}
      </div>
      <div class="col-md-6">
        {{ if index .BlogPosts 2 }}
        {{ with index .BlogPosts 2 }}
        <div class="h-100 p-5 bg-dark text-white border rounded-3">
          <h2>{{ .Title }}</h2>
          <p>{{ printf "%.250s" .Post }}...</p>
          <a class="btn btn-outline-light" role="button" href="/post/read/?id={{ .ID }}">Read more</a>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
