{{ define "title" }}Posts{{ end }}
{{define "main"}}

<div class="row">
    <div class="container-fluid col-lg-5 mt-5">
        <h1 class="display-5 fw-bold">Posts</h1>
        {{ range .BlogPosts }}
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">{{ .Title }}</h5>
                <span title="{{ humanDate .Created }}" style="color: var(--bs-gray-600);">{{ humanDate .Created }}</span>
                <p class="card-text">{{ .Lead }}</p>
                <a href="/post/read/{{ .ID }}" class="btn btn-primary">Read</a>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
