{{define "title"}}Post #{{.BlogPost.ID}}{{end}}
{{define "main"}}
    {{with .BlogPost}}
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-4 py-5">
                    <h1 class="display-5 fw-bold">{{ .Title }}</h1>
                    <div class="text-muted fst-italic mb-2">Posted {{humanDate .Created}}</div>
                </div>
                <div class="col-lg-8">
                    <div class="posts-container mx-auto px-3 py-5">
                        {{ markdownToHTML .Post }}
                    </div>
                </div>
            </div>
        </div>
    {{end}}
{{end}}
