{{define "nav"}}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid col-lg-5">
        <a class="navbar-brand" href="/">Islandwind</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/post">Posts</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/feed.rss">RSS</a>
            </div>
        </div>
    </div>
</nav>
{{end}}
